# Python venv
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment files
.env

# Local executables / installers
postgres_installer.exe

# Misc
*.log
.DS_Store

# Node / frontend
node_modules/
admin-frontend/node_modules/
dev.db
admin-frontend/dist/
